@{
    ViewData["Title"] = "About"; 
}

<div class="container mt-5">
    <h1 class="mb-4">About us </h1>
    
    <p>
        <strong>Welcome to Thrive Haven - our Virtual Movie Theater!</strong> <br />"
        At our Movie Theater, we bring the bring the cinematic experience to our theaters and comfort of your home.
        our platform allows you to view a selection of movies currently being presented, and conveniently purchase tickets,
        snacks, and drinks. 
    </p>

    <hr />

    <h3>Business Policies</h3>

    <h4>Ticket Pricing</h4>
    <ul>
        <li>Standard Ticket: $10.00</li>
    </ul>

    <h4>Food & Drink Pricing</h4>
    <ul>
        <li>Popcorn: $4.00</li>
        <li>HotDogs: $5.00</li>
        <li>SoftDrinks: $5.00</li>
    </ul>

    <h4>Tax Rate</h4>
    <p>
        All purchases made through our platform are subject to standard sales Tax Rate or based on our customers Tax 
        regulations, if applicable.
    </p>

    <h4> Refund Policy</h4>
    <p> 
        Refunds are only available up to one hour before the scheduled movies viewing time.
        Food and drinks purchases are non-refundable.
    </p>
</div>